<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card  class="logodiv">
    <ion-img #logo src="assets/images/2.jpg"></ion-img>
    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar>
          <ion-img src="assets/images/2.jpg"></ion-img>
        </ion-avatar>
        <ion-text>SAC_LAL</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- <div class="logodiv" style="display: flex; overflow:scroll;">
    <img #logo *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11,12]" src="assets/images/{{image}}.jpg">
  </div> -->
</ion-content>
