<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <h3>Recording List</h3>
    <div class="recordList">
      <div class="recinner">
        <p>1. Recording 1- .recordingDate</p>
        <ion-icon name='home'></ion-icon>
      </div>
    </div>
    <div class="recordList">
      <div class="recinner">
        <p>1. Recording 1- .recordingDate</p>
        <ion-icon name='home'></ion-icon>
      </div>
    </div>
  </div>

  <!-- <div class="swipeDiv" >
    <div class="inerswipe" #logo>
      <ion-img src="../../assets/images/4.jpg"></ion-img>
      <p class="ion-padding">
        lorem ipsum wekd lsifs ncmaoei wlpoqpe kljdsfion mxjdowpslf ieownxuwmxi osmeuc sdsjix eekx aix bdsh xhsnbk 
        lorem ipsum wekd lsifs ncmaoei wlpoqpe kljdsfion mxjdowpslf ieownxuwmxi osmeuc sdsjix eekx aix bdsh xhsnbk 
        lorem ipsum wekd lsifs ncmaoei wlpoqpe kljdsfion mxjdowpslf ieownxuwmxi osmeuc sdsjix eekx aix bdsh xhsnbk 
        lorem ipsum wekd lsifs ncmaoei wlpoqpe kljdsfion mxjdowpslf ieownxuwmxi osmeuc sdsjix eekx aix bdsh xhsnbk 
      </p>
    </div>

    <div class="inerswipe" #logo>
      <ion-img src="../../assets/images/7.jpg"></ion-img>
      <p class="ion-padding">
        lorem ipsum wekd lsifs ncmaoei wlpoqpe kljdsfion mxjdowpslf ieownxuwmxi osmeuc sdsjix eekx aix bdsh xhsnbk 
        lorem ipsum wekd lsifs ncmaoei wlpoqpe kljdsfion mxjdowpslf ieownxuwmxi osmeuc sdsjix eekx aix bdsh xhsnbk 
        lorem ipsum wekd lsifs ncmaoei wlpoqpe kljdsfion mxjdowpslf ieownxuwmxi osmeuc sdsjix eekx aix bdsh xhsnbk 
        lorem ipsum wekd lsifs ncmaoei wlpoqpe kljdsfion mxjdowpslf ieownxuwmxi osmeuc sdsjix eekx aix bdsh xhsnbk 
      </p>
    </div>
  </div> -->
</ion-content>